/blogdown/
/docs/
/lectures/semester/
/public/
/static/static/
*cache/
.Rproj.user/
node_modules/
Corel Auto-Preserve/
.RData
.Ruserdata
.Rhistory
.DS_Store
*.Rproj
*.zip
*.xlsx
*.out
*.log
*.aux
*.toc
*.idx
*.ilg
*.blg
*.bbl
*-concordance.tex
*.bak
tmp*.tex
*.knit.md
*.lock~
.Rproj.user
/temp.R
old_lectures/
/static/energetic_game
/static/energetic-game
*.bib.sav
